header
  h1 My Node.js Portfolio 
  nav 
    a(href="/") Home
    a(href="/about") About
    a(href="/projects") Projects
    a(href="/contact") Contact
    if user
      a(href="/profile") Profile
      a(href="/logout") Logout
    else
      a(href="/login") Login
      a(href="/register") Register