extends layouts/main

block content
  div.about-container
    div.about-header
      img.headshot(src=profile.headshot, alt=profile.name)
      div.about-intro
        h1 About Me
        h2= profile.title
    p.bio= profile.bio
