extends layouts/main

block content 
  h1 Welcome to My Node.js Portfolio
  p Welcome to my portfolio website where you can find information about my projects and skills.

  div.nav-cards
    a(href="/about").nav-card 
      div.nav-card-content
        h2 About Me 
        p Learn more about my background, skills, and experience in web development.
    a(href="/projects").nav-card 
      div.nav-card-content
        h2 Projects 
        p Explore my portfolio of web development projects and applications.
    a(href="/contact").nav-card 
      div.nav-card-content
        h2 Contact 
        p Get in touch with me to discuss opportunities or collaborations.