extends ../layouts/main

block content 
  div.create-project-container
    h1 Create New Project
    form.create-project-form(method="post", action="/projects/create" enctype="multipart/form-data")
      label
        input(type="text" name="title" placeholder="Project Title" required)
      label
        input(type="text" name="summary" placeholder="Project Summary" required)
      label Tech Stack
      button(type='button' class='add-tech') +
      div.tech-stack

      label
        input(type="text" name="description" placeholder="Project Description" required)
      label
        input(type="file" name="screenshot" placeholder="Screenshot URL" required)
      button.create-btn.btn(type="submit") Create Project
    
    if errors
      div.error
        ul
          each error in errors
            li= error

  script(src='/utils/projectHelpers.js')
  
